.oGrid{

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(30, 1fr);
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 128, 128, 0.205);
    padding: 5px;

    div {

        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-top: 5px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {

            text-align: center;
            width: 100%;
            height: 10px;
            margin-top: 15px;

        }

    }

}


.oGrid2 {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 3fr));
    grid-template-rows:repeat(auto-fit,minmax(100px, 3fr));
    justify-items: center;
    border:1px solid black;
    padding:5%;
}

.oGrid2 div{
    height:50px;
    display:block;
    width:100%;
    text-align:center;
    
}
#cours2{
    margin-top:15%;
}
#cours10{
    margin-top:15%;
}
#cours12{
    margin-top:15%;
}
#cours14{
    margin-top:30%;
}
#cours19{
    margin-top:15%;
}
#cours20{
    margin-top:30%;
}
#cours8{
    margin-top:15%;
}
#cours24{
    margin-top:15%;
}
#cours16{
    margin-top:15%;
}





.septembre {

    background-color: rgb(255, 103, 103);


}

.octobre {

    background-color: rgb(103, 255, 184);

}

.novembre {

    background-color: rgb(103, 212, 255);

}